.block {
    display: flex;
    position: relative;
    width: calc(100% - 20px);
    height: 310px;
    margin: 0 10px 20px 10px;
    border: 1px solid #ebebeb;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

/**
 * close
 */
.close {
    position: absolute;
    top: -11px;
    right: -10px;
}

.close > svg {
    font-size: 18px;
}

/**
 * video
 */
.video {
    width: calc(100% - 400px);
}

.video > iframe {
    width: 100%;
    height: 100%;
}

/**
 * info
 */
.info {
    width: 200px;
    height: 100%;
    border-right: 1px solid #dddddd;
}

.info > div {
    overflow-y: scroll;
    height: calc(100% - 70px);
    padding: 10px 5px;
}

.info > div > p:first-of-type {
    margin-top: 0;
    font-size: 12px;
    font-weight: bold;
    word-wrap: break-word;
}

.info > div > p:last-of-type {
    margin-top: 0;
    font-size: 10px;
    word-wrap: break-word;
}

.info > ul {
    display: grid;
    list-style-type: none;
    width: 100%;
    height: 50px;
    margin: 0;
    padding: 0;

    grid-template-columns: 1fr 1fr;
}

.info > ul > li {
    padding: 5px 0 0 5px;
    font-size: 10px;
}

.info > ul > li > span {
    margin-left: 5px;
}

.heart {
    color: #ff5a5f;
}

/**
 * comment
 */
.comment {
    width: 200px;
    height: 100%;
}

.comment > ul {
    overflow-y: scroll;
    list-style: none;
    height: 100%;
    margin: 0;
    padding-left: 0;
}

.comment > ul::-webkit-scrollbar {
    display: none;
}


.comment > ul > li {
    display: flex;
    padding: 10px 5px;
}

.comment > ul > li > img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.comment > ul > li > div {
    width: calc(100% - 35px);
    padding: 0 5px;
}

.comment > ul > li > div > p {
    margin: 0;
    font-size: 10px;
}
