.block {
    display: flex;
    height: 60px;
    margin-bottom: 5px;
    border: 1px solid #EBEBEB;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    text-align: center;
}

.icon_block {
    padding: 20px 10px 0 10px;
}

.icon_block > svg {
    font-size: 18px;
}

.youtuber_block {
    width: 100%;
    padding: 18px 10px 0 0px;
}

.youtuber_block > select {
    -webkit-appearance: none;
    background-color: white;
    border: none;
    box-shadow: none;
    width: 100%;
    font-size: 16px;
}


.youtuber_block > select:active {
    user-select: none;
}
