.block {
    display: flex;
    height: 40px;
    margin-bottom: 5px;
    border: 1px solid #ebebeb;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    text-align: center;
}

.icon_block {
    padding: 8px 10px 0 10px;
}

.icon_block > svg {
    font-size: 14px;
}

.youtuber_block {
    width: 100%;
    padding: 8px 10px 0 0;
}

.youtuber_block > p {
    margin: 0;
    padding-top: 3px;
    font-size: 12px;
    text-align: left;
    -webkit-user-select: none;
}

.list_block {
    overflow-y: scroll;
    list-style-type: none;
    position: absolute;
    z-index: 100;
    top: 50px;
    width: calc(100% - 15px);
    height: 250px;
    margin: 0;
    padding-left: 0;
    border: 1px solid #ebebeb;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.list_block > li {
    display: flex;
}

.img_block {
    width: 35px;
    height: 35px;
}

.img_block > img {
    width: 25px;
    height: 25px;
    padding: 5px;
    border-radius: 50%;
}

.name_block {
    width: calc(100% - 35px);
}

.name_block > p {
    margin: 0;
    padding-top: 8px;
    font-size: 12px;
    text-align: left;
    -webkit-user-select: none;
}
